/* Body */

.container {
    display: flex;
    flex-direction: row;
    gap: 8px; /* Adds spacing between the sidebar and main body */
    height: 79vh; /* Ensures the container takes up the full viewport height */
    box-sizing: border-box;
}

app-sidebar {
    flex: 1; /* Sidebar width */
}

main {
    background: var(--content);
    border-radius: 8px;
    flex: 3; /* Fills the remaining space next to the sidebar */
    color: white;
    margin: 0 10px 0 0;
    // height: 89%; /* Ensures the main content takes up the full viewport height */
    box-sizing: border-box;
    overflow-y: auto; /* Allows scrolling if content exceeds the height */
}


main .section {
    background-color: lightblue;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

app-player {
    height: 100%;
}
