.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background-color);
    padding: 10px 20px;
    height: 50px;
}

.navbar .app-logo {
    flex: 1;
}

.navbar .app-logo h1 {
    color: white;
    letter-spacing: 4px;
}

.navbar .home-button {
    text-decoration: none;
    margin-right: 5px;
    width: 48px;
    background: var(--element);
    height: 48px;
    border: none;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-button svg {
    width: 22px;
    fill: #8D8D8D;
    height: 22px;
    transition-duration: 0.3s;
}

.home-button:hover svg {
    fill: white;
    transition-duration: 0.3s;
}

.search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container .search-wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.search-wrapper input::placeholder {
    font-family: 'Geist Mono', sans-serif;
}

.search-container input[type="search"] {
    padding: 10px;
    width: 100%;
    color: white;
    background-color: var(--element);
    padding-left: 40px;
    font-size: 16px;
    font-family: 'Geist Mono', sans-serif;
    border: none;
    border-radius: 24px;
    box-sizing: border-box;
    height: 3em;
}

.search-container input[type="search"]:focus {
    outline: 2px solid white;
}

.search-wrapper::before {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--font-color);
}

.sign-up, .log-in {
    font-family: 'Geist Mono', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #b3b3b3;
    background: none;
    border: none;
    padding: 10px 25px;
    transition: all 0.3s ease;
    height: 48px;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up:hover, .log-in:hover {
    font-size: 18px;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.log-in:active {
    font-size: 16px;
    transform: none;
}

.sign-up:hover {
    color: white;
}

.sign-up:active {
    color: #b3b3b3;
}

.log-in {
    background-color: white;
    border-radius: 32px;
    color: black;
}

.user-profile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
    flex: 1;
  }
  
  .profile-icon {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--element);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .username {
    display: flex;
    justify-content: center;
    font-family: 'Geist Mono', sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 600;
  }

  .dropdown-menu a, .dropdown-menu button {
    color: white;
    text-decoration: none;
    font-family: 'Geist Mono', sans-serif;
    font-size: 16px;
    background: none;
    border: none;
    text-align: left;
    padding: 8px;
    border-radius: 4px;
    transition: background 0.3s;
  }

  .dropdown-menu svg {
    width: 12px;
  }
  
  .dropdown-menu a:hover, .dropdown-menu button:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  
  