<div class="main-content">
  <h2>Recently Played</h2>
  <div class="track-grid">
    <div *ngFor="let track of recentlyPlayed | slice:0:5" class="track-item">
      <img [src]="track.cover" [alt]="track.title">
      <h3 class="track-title">{{ track.title }}</h3>
      <p class="track-artist">{{ track.artist }}</p>
    </div>
  </div>

  <h2>Top Artists</h2>
  <div class="artist-grid">
    <div *ngFor="let artist of topArtists | slice:0:5" class="artist-item">
      <img [src]="artist.image" [alt]="artist.name">
      <h3>{{ artist.name }}</h3>
    </div>
  </div>
</div>
