:root {
  --background-color: #000000;
  --content: #121212;
  --element: #2a2a2a;
  --font-color: #9d9d9d;
}

body {
  background: var(--background-color);
  font-family: "Geist Mono", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

button {
  cursor: pointer;
}

.non-selectable {
  user-select: none;
}
